# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea

# Ignore files by extension
*.class
*.DS_Store
deleteme/
.vscode